<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Mystery Word</h1>
    <p> {{guessWord}}</p>
    <form class="" action="/" method="post">
      <input type="text" name="attempt" placeholder="Guess a letter">
      <button type="submit" name="button">Guess!</button>
    </form>
  </body>
</html>
