<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Mystery Word</h1>
    <h4>{{attemptsArray}}</h4>
    <h3>{{displayedWord}}</h3>
    <form class="" action="/attempt" method="post">
      <input type="text" name="letter" placeholder="Guess a letter">
      <button type="submit">Guess!</button>
    </form>
  </body>
</html>
