<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div id="title">
        <h1>You lose!</h1>
      </div>
      <div id="middle">
      <form class="" action="/" method="post">
        <button type="submit">Play again!</button>
      </form>
    </div>
  </body>
</html>
